body {
    background-image:  url('../img/fondo.png');
  -webkit-animation: background 10s cubic-bezier(0,0,1,1) infinite;
}


@-webkit-keyframes background {
  0% { background-color: #0b1e4f; }
  33% { background-color: #0a2ec7; }  
  67% { background-color: #3c777b; }
  100% { background-color: #0b1e4f; }
}


#logo {
	background-image: url("../img/ovnion.png");
	background-repeat: no-repeat;
  background-position: center;
  top: 10%;
  height: 30%;
  position:absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 100;
}

#mail {
  text-align: center;
  top: 10%;
  height: 30%;
  position:absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 100;
}